---
import "../../styles/index.css";

// export interface Props {
//     title: string;
//     description: string;
//     permalink: string;
// }

// const { title, description, permalink } = Astro.props;

let title = "DEMUCS - Music source separation";
let description = "Online service for music source separation";
let permalink = "https://demucs.danielfrg.com";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="/favicon.png" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Fonts -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content="https://astro.build/social.jpg?v=1" /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<!-- <meta property="twitter:image" content="https://astro.build/social.jpg?v=1" /> -->

<!-- Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MXP1C2HXLW"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-MXP1C2HXLW");
</script>
